.filter0 {

}

.filter1 {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(1.3) opacity(0.9);
  mix-blend-mode: color-dodge;
  background: linear-gradient(102deg, transparent 35%, rgba(255, 219, 112, 0.8) 45%, rgba(132, 50, 255, 0.7) 50%, transparent 53%);
  background-size: 100% 100%;
  transition: all 0.1s;
}

.filter2 {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(1.3) opacity(0.7);
  mix-blend-mode: color-dodge;
  background: radial-gradient(rgba(255, 179, 186, 0.9), rgba(255, 204, 112, 0.8) 40%, rgba(132, 50, 255, 0.6) 60%, rgba(64, 224, 208, 0.5));
  background-size: 150% 150%;
  transition: all 0.1s;
}



.background0 {
  background-color: white;
  color: black;
}

.background1 {
  background-color: black;
  color: white;
}

.background2 {
  background-color: #dc143c;
  color: black;
}

.background3 {
  background-color:  #ffffcc;
  color: black;
}

.background4 {
  background-color: #6495ed;
  color: black;
}

.background5 {
  background-image: url("../../../assets/image/glitter.gif");
  opacity: 0.9;
  color: white;
  
}