@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
}


*::-webkit-scrollbar {
  width: 0px;
  display: none;
}